{% extends "body.html" %}
{% block content %}
<main class="content store">
    <div class="content__row content__row--direction-row store__head">
        <h1 class="store__title">{{ page.title }}</h1>
    </div>

    <div class="content__row store__container">
        <nav class="store__nav">
            {% set include_dict = {'page': page, 'site': site} %}
            {% include "nav_categories.html" %}
        </nav>

        <section class="store__products">
            {% set category_product_pages = getPages('/products') | where('category', page.params.slug) | sort_array('name', 'asc') %}
            {% set include_dict = {'product_pages': category_product_pages, 'cssClass': 'store__product-grid'} %}
            {% include "product_grid.html" %}
        </section>
    </div>

</main>


{% endblock %}